/* app global css */
.q-layout {
  background-color: #fcfdff;
}

.event-txt {
  cursor: pointer;
  text-decoration: none;
}

.event-txt:hover {
  text-decoration: none;
}

.text-shadow {
  color: #bcbcbc;
}

.q-table th {
  font-weight: 600;
}

.content-wrap {
  white-space: pre-wrap;
}

body {
  color: $grey-2;
}

p {
  margin: 0 0 4px;
}

.money-color {
  background-color: $teal-6;
}

.rate-content {
  display: flex;
  height: 40px;
  align-items: center;
}

.q-btn,
.q-field__label,
.title-case {
  text-transform: capitalize !important;
}

.text-size-10 {
  font-size: 10px;
}
.text-size-11 {
  font-size: 11px;
}
.text-size-12 {
  font-size: 12px;
}
.text-size-13 {
  font-size: 13px;
}
.text-size-14 {
  font-size: 14px;
}
.text-size-15 {
  font-size: 15px;
}
.q-btn {
  padding: 4px 12px;
}
.q-btn .on-left {
  margin-right: 6px;
}

.q-field--auto-height .q-field__control,
.q-field--auto-height .q-field__native {
  min-height: 20px !important;
}
.q-field--auto-height .q-field__native,
.q-field--auto-height .q-field__prefix,
.q-field--auto-height .q-field__suffix {
  line-height: 30px;
}

.q-dialog__inner > div {
  border-radius: 20px;
}
.q-field--outlined .q-field__control:before {
  border: 1px solid #e3e3e3;
}
.rounded {
  border-radius: 20px;
}
.without-icon i {
  display: none;
}
.no-field-margin .q-field__native {
  padding-top: 0px;
  padding-bottom: 0px;
}
.header-text {
  color: #ffffff;
  opacity: 80%;
  text-transform: none;
}
.sidebar-icon {
  font-weight: lighter;
  -webkit-text-stroke: 1px white;
  color: $grey-2;
}
.sidebar-active-item i {
  -webkit-text-stroke: 1px $cyan-2;
  color: $cyan-3;
}
.sidebar-active-item .sidebar-text {
  font-weight: bold;
  color: #4684af;
}
.settings-sidebar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.sidebar-item:hover {
  color: #4684af;
  background-color: $cyan-2;
  .sidebar-icon {
    color: $cyan-3;
  }
  i {
    -webkit-text-stroke: 1px $cyan-2;
  }
}
.left-sidebar {
  box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
}
.q-table tbody tr:nth-child(odd) {
  background-color: #f7fbfc;
}
.q-table tr {
  height: 55px;
}
.q-table__container,
.content-container {
  box-shadow: 0px 6.5625px 30.625px rgba(70, 132, 175, 0.07), 0px 13.125px 19.6875px rgba(70, 132, 175, 0.07),
    0px 3.5px 7.4375px rgba(70, 132, 175, 0.1), 0px 1.75px 2.625px rgba(70, 132, 175, 0.07) !important;
  border-radius: 10px;
}

.field-shadow {
  box-shadow: 0 3px 2px -2px rgba(70, 132, 175, 0.06);
}

.content-container {
  background-color: white;
}
.q-table__title {
  color: $grey-2;
}

.btn {
  box-shadow: 0 10px 20px rgba(70, 132, 175, 0.2);
}

.btn:link,
.btn:visited {
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(70, 132, 156, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-radius {
  border-radius: 50px;
}

.btn::after {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.text-h6 {
  color: $grey-3;
}
.field-text {
  height: 30px;
  margin: 0;
  position: absolute;
  top: 50%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
}
.field-chip {
  font-size: 11px;
  .q-chip__content {
    font-size: 13px;
  }
}
.custom-line {
  height: 17px;
}
.center-row {
  display: flex;
  align-items: center;
}
.sm-chip {
  font-size: 12px;
}
.q-chip__icon {
  font-size: 1.3em;
}
.q-field--auto-height.q-field--labeled .q-field__control-container {
  padding-top: 6px;
  padding-bottom: 6px;
}
.custom-icon {
  -webkit-text-stroke: 0.5px white;
  color: $grey-1;
}
.q-field--dense .q-field__bottom {
  font-size: 12px;
}
