/* app global css */
.q-layout {
  background-color: #fcfdff;
}

.event-txt {
  cursor: pointer;
  text-decoration: none;
}

.event-txt:hover {
  text-decoration: none;
}

.text-shadow {
  color: #bcbcbc;
}

.q-table th {
  font-weight: 600;
}

.content-wrap {
  white-space: pre-wrap;
}

.rate-content {
  display: flex;
  height: 40px;
  align-items: center;
}

.q-btn,
.q-field__label,
.title-case {
  text-transform: capitalize !important;
}

.text-size-10 {
  font-size: 10px;
}
.text-size-11 {
  font-size: 11px;
}
.text-size-12 {
  font-size: 12px;
}
.text-size-13 {
  font-size: 13px;
}
.text-size-14 {
  font-size: 14px;
}
.text-size-15 {
  font-size: 15px;
}
.q-btn {
  padding: 4px 12px;
}
.q-btn .on-left {
  margin-right: 6px;
}

.q-field--auto-height .q-field__control,
.q-field--auto-height .q-field__native {
  min-height: 20px !important;
}

.q-dialog__inner > div {
  border-radius: 20px;
}
.q-field--outlined .q-field__control:before {
  border: 1px solid #e3e3e3;
}
.rounded {
  border-radius: 20px;
}
.without-icon i {
  display: none;
}
.no-field-margin .q-field__native {
  padding-top: 0px;
  padding-bottom: 0px;
}
.header-text {
  color: #ffffff;
  opacity: 80%;
  text-transform: none;
}
.sidebar-icon {
  font-weight: lighter;
  -webkit-text-stroke: 1px white;
  color: $grey-2;
}
.sidebar-active-item i {
  -webkit-text-stroke: 1px $cyan-2;
  color: $cyan-3;
}
.sidebar-active-item .sidebar-text {
  font-weight: bold;
  color: #4684af;
}
.settings-sidebar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.sidebar-item:hover {
  color: #4684af;
  background-color: $cyan-2;
  .sidebar-icon {
    color: $cyan-3;
  }
  i {
    -webkit-text-stroke: 1px $cyan-2;
  }
}
.left-sidebar {
  box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
}
.q-table tbody tr:nth-child(odd) {
  background-color: #F7FBFC;
}
.q-table tr {
  height: 55px;
}
.q-table__container {
  box-shadow: 0px 6.5625px 30.625px rgba(4, 9, 20, 0.03), 0px 13.125px 19.6875px rgba(4, 9, 20, 0.03),
    0px 3.5px 7.4375px rgba(4, 9, 20, 0.05), 0px 1.75px 2.625px rgba(4, 9, 20, 0.03);
  border-radius: 10px;
}
