/* app global css */

.event-txt {
  cursor: pointer;
  text-decoration: none;
}

.event-txt:hover {
  text-decoration: none;
}

.text-shadow {
  color: #bcbcbc;
}

.q-table th {
  font-weight: 600;
}

.content-wrap {
  white-space: pre-wrap;
}

.rate-content {
  display: flex;
  height: 40px;
  align-items: center;
}
