$primary: #4684AF;
$secondary: #38917B;
$accent: #dd4b39;

$dark: #252733;

$positive: #118347;
$negative: #D74E3C;
$info: #16AAFF;
$warning: #C98A11;
$cyan-2: #DCF2FF;
$cyan-3: #85B6FF;
$grey-1: #BBC1C9;
$grey-2: #495057;
